.userh_mobile {
    position: absolute;
    margin-left: 2%;
    top: 5%;
    width: 11%;
    border: 2px solid white;
    border-radius: 100%;
    opacity: 0.8;
}
.userDate_mobile {
    position: absolute;
    left: 18%;
    margin-top: 1%;
    color: grey;
}
.userText_mobile {
    margin-left: 17%;
    margin-top: 20px;
    display: inline-block;
    color: rgba(0, 0, 0, 0.758);
    background-color: rgba(255, 0, 0, 0.136);
    border-radius: 3px;
    padding: 5px;
    font-size: 13px;
}
.gptHead_mobile {
    margin-top: 1%;
    margin-left: 2%;
    position: absolute;
    width: 11%;
    border: 2px solid white;
    border-radius: 100%;
}
.gptDate_mobile {
    position: absolute;
    left: 18%;
    margin-top: 1%;
    color: grey;
}
.gptText_mobile {
    margin-left: 17%;
    margin-top: 20px;
    display: inline-block;
    color: rgba(0, 0, 0, 0.76);
    background-color: rgba(119, 136, 153, 0.225);
    border-radius: 3px;
    padding: 5px;
    font-size: 13px;
}


/* 蓝色主题_移动端 */
.userText_blue_mobile {
   margin-left: 17%;
   margin-top: 20px;
   display: inline-block;
   color: rgba(0, 0, 0, 0.758);
   background-color: lightcyan;
   border-radius: 3px;
   padding: 5px;
   font-size: 13px;
}
.gptText_blue_mobile {
   margin-left: 17%;
   margin-top: 20px;
   display: inline-block;
   color: rgba(0, 0, 0, 0.76);
   background-color: rgba(128, 0, 128, 0.133);
   border-radius: 3px;
   padding: 5px;
   font-size: 13px;
}

/* 绿色主题_移动端 */
.userText_green_mobile {
   margin-left: 17%;
   margin-top: 20px;
   display: inline-block;
   color: rgba(0, 0, 0, 0.758);
   background-color: rgba(144, 238, 144, 0.473);
   border-radius: 3px;
   padding: 5px;
   font-size: 13px;
}
.gptText_green_mobile {
   color: rgba(0, 0, 0, 0.758);
   background-color: rgba(250, 198, 135, 0.415);
   border-radius: 3px;
   padding: 5px;
   display: inline-block;
   margin-left: 17%;
   margin-top: 20px;
   font-size: 13px;
   position: relative;
}