/* 绿色主题 */
.newChat_green {
   width: 90%;
   height: 7%;
   border: grey dashed 1px;
   border-radius: 3%;
   background: none;
   font-size: 20px;
   color: grey;
   transition: all 0.4s;
   margin-top: 5%;
   &:hover {
      border: 1.5px dashed green;
      color: green;
   }
}